@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Regular.ttf');
}

thead {
    font-family: "Lato";
    color: var(--font-color);
    font-size: 25pt;
    font-weight: bold;
}

td>input[type=text] {
    font-family: "Lato";
    color: var(--font-color);
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}

button {
    font-family: "Lato";
}